<html lang="en">
<head>
    <title>mtharmen Request Header Parser Microservice</title>
</head>
  <body>
      <div class="container">
          <h1 class="header">
              API Basejump: Request Header Parser Microservice
          </h1>
          <blockquote>
              <h2>User story:</h2>
              <ol>
                  <li>I can get the IP address, preferred languages (from header <code>Accept-Language</code>)
                    and system infos (from header <code>User-Agent</code>) for my device. </li>
              </ol>
              <h3>Example usage:</h3>
              <a href="https://unequaled-web.glitch.me//api/whoami" target="_blank">/api/whoami</a><br>
              <h3>Example output:</h3>
              <code>
                { "ipaddress": "104.204.75.160", "language": "en-US", "software": "Windows NT 10.0; Win64; x64; rv:63.0"}
              </code>
          </blockquote>
          <br />
          <div><a href="https://github.com/mtharmen/request-header-parser" target="_blank">Github Source</a></div>
      </div>
  </body>
</html>

